<% include ./partials/header %>


<h3>Deelnemerslijst</h3>
<p>Filters:</p>
<p>
<button class="btn btn-primary btn-sm" id="alles">Alles</button>
<button class="btn btn-primary btn-sm" id="mannen">Mannen</button>
<button class="btn btn-primary btn-sm" id="vrouwen">Vrouwen</button>
<button class="btn btn-primary btn-sm" id="rijders">Rijders</button>
<button class="btn btn-primary btn-sm" id="bijrijders">Bijrijders</button>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Naam</th>
            <th>Geslacht</th>
            <th>Leeftijd</th>
            <th>Aanwezig</th>
            <th>Rit</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    <% deelnemers.forEach(function(deelnemer) { %>
        <tr>
            <td><%= deelnemer.name %></td>
            <td class="gender"><%= deelnemer.gender %></td>
            <td><%= deelnemer.age %></td>
            <td><%= deelnemer.present %></td>
            <td class="driver"><%= deelnemer.driver %></td>
            <td><a href="/deelnemer/<%= deelnemer._id %>">Wijzig</a></td>
        </tr>
    <% }) %>
    </tbody>


</table>

<script src="./js/filters.js"></script>
    
<% include ./partials/footer %>