<% include ./partials/header %>


<a href="/reseed">Reseed</a> - <a href="/maakIndeling">Maak indeling</a>

<div>
<span id="waarschuwing"></span>
<ul id="indelingOverzicht">
</ul>
</div>

<h5>Ronde</h5>
<p>Geplaatst: <br>
Rijders: <%= numRijders %> - Bijrijders: <%= numBijrijders %></p>

<div>
<% for (let i = 1; i <= numRondes; i++) { %>
<a href="/bekijkIndeling/<%=i%>"><%= i %></a> -&nbsp;
<% } %>
</div>

<div id="indelingDiv">
  <table class="table" id="indelingTable">
    <thead class="thead-dark">
      <th scope="col">
        Rijder
      </th>
      <th scope="col">
        Bijrijder(s)
      </th>
    </thead>
    <tbody>
    <% indeling.forEach(auto => { %>
      <tr>
      <td><a href="/deelnemer/<%=auto.rijder._id%>"></a> <%= auto.rijder.name %></td>
      <td>
        <ul>
          <% auto.bijrijder.forEach(bijrijder => { %>
            <li><a href="/deelnemer/<% bijrijder._id %>"></a> <%=bijrijder.name %></li>
          <% }) %>
        </ul>
      </td>
      </tr>

    <% }) %>
    
    </tbody>
  </table>
</div>

<script src="/js/main.js"></script>

<% include ./partials/footer %>