<% include ./partials/header %>

<h5>Ronde <%= rondeNummer %></h5>

<div>
Geplaatst: <br>
Rijders: <%= numRijders %> - Bijrijders: <%= numBijrijders %>
</div>

<div id="indelingDiv">
  <table class="table" id="indelingTable">
    <thead class="thead-dark">
      <th scope="col">
        Rijder
      </th>
      <th scope="col">
        Bijrijder(s)
      </th>
    </thead>
    <tbody>
    <% indeling.forEach(auto => { %>
      <tr>
      <td><a href="/deelnemer/<%= auto.rijder._id %>"><%= auto.rijder.name %></a></td>
      <td>
        <ul>
          <% auto.bijrijder.forEach(bijrijder => { %>
            <li><a href="/deelnemer/<%= bijrijder._id %>"><%=bijrijder.name %></a></li>
          <% }) %>
        </ul>
      </td>
      </tr>

    <% }) %>
    
    </tbody>
  </table>
</div>

<% include ./partials/footer %>